// This is where your application styles could go.

.resume {
    h2, h4 {
        --space: 1rem;
        margin-bottom: 4px;
    }
    
    p {
        margin-bottom: 2rem;
    }
    
    hr {
        margin-top: 80px;
        margin-bottom: 1rem;
    }

    > .bx--row {
        .bx--row {
            --space: 0;
        }
    }
}

.contact-form {
    .bx--row {
        margin-top: 24px;
    }

    .bx--btn {
        margin-top: 24px;
    }
}

h3[class*="h3"] {
    --space: 48px;
}

.leadspace {
    background: url('/images/poster.png');
    background-size: cover;
    background-position: center center;
    
    position: relative;
    
    &::before {
        content: '';
        background: rgba(0,0,0,.7);
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    .bx--grid {
        padding-right: 16px;
    }
    
    .bx--aspect-ratio::after {
        margin-bottom: -1px;
    }

    &__cta {
        .bx--tile,
        .bx--image-card__img {
            background: transparent;
        }
        
        .bx--image-card__spacing {
            margin: 0;
            border-left: 1px solid rgba(255, 255, 255, .3);
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
    }
    
    + .bx--grid {
        display: none;
    }
}

.case-study {
    hr {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    
    h2 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    
    h3 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    
    p {
        // margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .bx--row {
        margin-top: 0;
    }
}

.work-gallery {
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    figure {
        margin-bottom: 4rem;
    }
}

p[class^="Caption-module--caption"] {
    margin-top: .5rem;
    margin-bottom: .5rem;
}