$background-01: #603F1F;
$hover-01: #775B40;
$border-01: #7D5D3F;

$background-02: #A97F56;
$hover-02: #B5926F;
$border-02: #97724E;

$white-01: #FFFFFF;
$white-02: #BEBEBE;

$black-01: #000000;

body {
    background-color: $background-01;
}


// header
header.bx--header,
[class*=GlobalSearch-module--list],
header.bx--header [class*=GlobalSearch-module--inputWrapper],
header.bx--header button,
nav[class*=Switcher-module--nav],
header.bx--header button[class*=Header-module--header-button][class*=Header-module--header-button] {
    background-color: $background-01;
    border-color: $border-01;
}


[class*=GlobalSearch-module--list] a,
[class*=GlobalSearch-module--list] a[class*=GlobalSearch-module--active],
nav[class*=Switcher-module--nav] a,
header.bx--header button,
header.bx--header button[class*=Header-module--header-button][class*=Header-module--header-button] {
    color: $white-01;
    fill: $white-01;

    &:hover {
        background-color: $hover-01;
    }
}

header.bx--header [class*=Header-module--searchIsOpenOnBar] {
    [class*=GlobalSearch-module--list] a[class*=GlobalSearch-module--active],
    button,
    [class*=GlobalSearch-module--inputWrapper] {
        background-color: $border-01;

        input::placeholder {
            color: $white-02;
        }
    }
}

[class*=Switcher-module--divider] {
    color: $white-02;
    border-color: $border-01;
}

// side nav
nav[class*=LeftNav-module--side-nav--dark] {
    background-color: $background-02;
    border-color: $border-02;
}

nav[class*=LeftNav-module--side-nav--dark][class*=LeftNav-module--side-nav--dark] {
    a, button {
        &, * {
            color: $white-01 !important;
            fill: $white-01 !important;
        }

        &.bx--side-nav__link--current,
        &:hover {
            background-color: $hover-02 !important;
        }
    }
}


// footer

footer[class*=Footer-module--footer] {
    background-color: $background-01;
    border-color: $border-01;
    color: $white-02 !important;
    
    [class*=Footer-module--listItem] a {
        color: $white-02 !important;
        
        &:hover {
            color: $white-01 !important;
        }
    }

    &::after {
        background-color: $background-01;
    }
}

// page header

// div[class*=PageTabs-module--tabs-container],
// div[class*=PageHeader-module--page-header] {
//     background-color: $background-02;
//     border-color: $border-02;
// 
//     a {
//         &:hover {
//             background-color: $hover-02;
//         }
//     }
// 
//     [class*=PageTabs-module--selected-item] {
//         background-color: $hover-02;
//     }
// }